### Imports

In [1]:
import sqlite3
import pprint

db = sqlite3.connect("sqlite3_group10.db")
cur = db.cursor()

## Simple Queries

### Simple Query 1 - Unarmed Males under 18 killed by Police

In [2]:
query = '''
SELECT name, age 
FROM police_killings 
WHERE age < 18 
AND gender = "M" 
AND armed = "unarmed" 
ORDER BY age;'''

cur.execute(query)

pprint.pprint(cur.fetchall())

[('Jeremy Mardis', 6),
 ('Jordan Edwards', 15),
 ('Jose Raul Cruz', 16),
 ('Deven Guilford', 17),
 ('David Joseph', 17),
 ('Armando Garcia-Muro', 17)]

### Simple Query 2 - Women killed by Police while not fleeing and not armed in 2016

In [3]:
query = '''
SELECT name, age, date as this_date
FROM police_killings
WHERE gender = "F"
AND flee = "Not fleeing"
AND armed = "unarmed"
AND date >= "16-01-01"
AND date < "17-01-01"
ORDER BY age;
'''
cur.execute(query)

pprint.pprint(cur.fetchall())

[('Ciara Meyer', 12, '16-01-11')]

### Simple Query 3 - People with NULL values regarding age, race and armed

In [4]:
query = '''
SELECT name, gender, date
FROM police_killings
WHERE age IS NULL
AND race_id IS NULL
AND armed IS NULL;
'''

cur.execute(query)

pprint.pprint(cur.fetchall())

[('TK TK', 'M', '16-11-11')]

## Complex Queries

### Complex Query 1 - People armed with a knife shot by police in the state of Texas

In [5]:
query = '''
SELECT p.name, p.age, s.acronym
FROM police_killings p
INNER JOIN city c
ON c.id = p.city_id
INNER JOIN state s
ON c.state_id = s.id
WHERE s.acronym = "TX"
AND p.armed = "knife";
'''

cur.execute(query)

pprint.pprint(cur.fetchall())

[('Richard McClendon', 43, 'TX'),
 ('Daniel Brumley', 27, 'TX'),
 ('Kristiana Coignard', 17, 'TX'),
 ('Jose Antonio Espinoza Ruiz', 56, 'TX'),
 ('Kamal Dajani', 26, 'TX'),
 ('Randall Waddel', 49, 'TX'),
 ('Randall Lance Hughes', 48, 'TX'),
 ('Roger Albrecht', None, 'TX'),
 ('Henry Reyna', 49, 'TX'),
 ('Michael Clyde Lynch', 37, 'TX'),
 ('Tyler Hunkin', 29, 'TX'),
 ('Gregory Mathis', 36, 'TX'),
 ('Jose Angel Vallarta', 30, 'TX'),
 ('Martin Gomez', 46, 'TX'),
 ('Medger Blake', 41, 'TX'),
 ('Morgan London Rankins', 30, 'TX'),
 ('Epthen Lamont Johnson', 40, 'TX'),
 ('Ray Valdez', 55, 'TX'),
 ('Rodney Henderson', 48, 'TX'),
 ('Emmett Edward Hall', 60, 'TX')]

### Complex Query 2 - State with the most shootings

In [6]:
query = '''
SELECT state, MAX(mycount)
FROM (SELECT s.acronym as state, COUNT(p.name) mycount
    FROM police_killings p
    INNER JOIN city c
    ON c.id = p.city_id
    INNER JOIN state s
    ON s.id = c.state_id
    GROUP BY s.acronym);
'''

cur.execute(query)

pprint.pprint(cur.fetchall())

[('CA', 390)]

### Insert Query - Insert new police killing

In [7]:
john = [
    (3000, "John Smith", "21-05-12", "shot", "machine gun", 34, "M", 1, 1, 1, "attack", None, 1)
]

query = '''INSERT INTO police_killings (id, name, date, manner_of_death, armed, age, gender, race_id, city_id, signs_of_mental_illness, threat_level, flee, body_camera) 
                VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ? ,?);'''

try:
    cur.executemany(query, john)
    db.commit()
    print("Inserted successfully in police_killings")
except:
    print("Error inserting in police_killings")
    db.rollback()

Inserted successfully in police_killings

### Update Query - Update the date of the police killing by the person's name

In [8]:
name = "John Smith"
date = "21-05-12"

query = "UPDATE police_killings SET date=? WHERE name=?;"

try:
    cur.execute(query, (date, name))
    db.commit()
    print("Successfully updated police_killings")
except:
    print("Error updating police_killings")
    db.rollback()

Successfully updated police_killings